* {
  -white: #FFFFFF;
  -purple: #C55FFC;
  -purple-hover: #9b58bf;
  -purple-haze: #EFDCF9;
  -charcoal: #323E42;
  -violet: #7954A1;
  -violet-hover: #624482;
  -red: #b20b0b;
  -bg: -white;
  -main-font-color: -charcoal;
}

.mainPane {
  -fx-background-color: -bg;
}

.leftPane {
  -fx-background-color: -purple-haze;
}

.title {
  -fx-font-size: 72;
  -fx-text-fill: -main-font-color;
}

.label {
  -fx-text-fill: -main-font-color;
}

.button {
  -fx-background-radius: 2em;
  -fx-font-weight: bold;
  -fx-border: none;
  -fx-padding: 8px 16px;
  -fx-min-width: 80px;
}

.button:hover, .button:focused {
  -fx-cursor: hand;
  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-border-radius: 2em;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.loginButton {
  -fx-background-color: -purple;
  -fx-text-fill: -white;
  -fx-border: none;
}

.loginButton:hover, .loginButton:focused {
  -fx-background-color: -purple-hover;
}

.signUpButton {
  -fx-background-color: -violet;
  -fx-text-fill: -white;
  -fx-border: none;
}

.signUpButton:hover, .signUpButton:focused {
  -fx-background-color: -violet-hover;
}

.errorLabel {
  -fx-text-fill: -red;
}

